.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & .div {
        background: #f00;
    }
}

.div {
    background-color: red;
}

h2 {
    color: #fff !important;
}